  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <div class="container">
          
          <a href="@Url.Action("Index", "Home")"
              class="navbar-brand"><i class="fa fa-tree"></i> I-Ruettä
          </a>
          <button class="navbar-toggler" type="button"
                  data-toggle="collapse"
                  data-target="#navbarCollapse"
                  aria-controls="navbarCollapse"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                  </li>
                  <li class="nav-item">
                      @Html.ActionLink("Besuch erfassen", "Index", "Visit", null, new { @class = "nav-link" })
                  </li>
                  <li class="nav-item">
                      @Html.ActionLink("CSV Import", "Index", "CSVImport", null, new { @class = "nav-link" })
                  </li>
                  <li class="nav-item">
                      @Html.ActionLink("Samichläuse", "Index", "Santa", null, new { @class = "nav-link" })
                  </li>
                  <li class="nav-item">
                      @Html.ActionLink("Algorithmus", "Index", "Algorithm", null, new { @class = "nav-link" })
                  </li>
                  <li class="nav-item">
                      @Html.ActionLink("Admin interface", "Index", "Admin", null, new { @class = "nav-link" })
                  </li>
              </ul>
          </div>
      </div>
</nav>