@using System.Runtime.InteropServices
@model IEnumerable<IRuettae.WebApp.Models.RouteCalculationVM>

<style>
    .compare-container {
        display: table;
        list-style: none;
        padding-left: 0;
    }

    .item-labels .item-group {
        border-left: 1px solid gray;
        box-shadow: -1px 0px inset gray;
    }

    .item-labels {
        text-align: right;
        white-space: nowrap;
    }


    .item-column {
        display: table-cell;
        text-align: center;
    }

    .item-labels .item-group-head {
        min-height: unset;
        max-height: unset;
        height: 77px;
    }

    .item-column .item-group-head {
        border-top: 1px solid gray;
    }

    .item-group-head {
        padding: 15px;
        min-height: 78px;
        max-height: 78px;
        border-bottom: 1px solid gray;
        text-align: center;
        border-right: 1px solid gray;
    }

    .item-group {
        padding: 10px;
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
    }

    .item-group-footer {
        padding: 10px;
    }

    .best-val {
        background-color: hsla(120, 60%, 70%, 0.3);
        color: black;
        font-weight: bold;
    }
</style>

@Html.ActionLink("Zurück", "Results")
<h1>Routenvergleich</h1>

<ul class="compare-container">
    <li class="item-labels">
        <div class="item-group-head">&nbsp;</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.Cost)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.NumberOfNotVisitedFamilies)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.NumberOfMissingBreaks)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.NumberOfAdditionalSantas)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.AdditionalSantaWorkTime)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.VisitTimeInUnavailable)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.VisitTimeInDesired)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.SantaWorkTime)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.LongestDay)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.NumberOfNeededSantas)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.NumberOfRoutes)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.NumberOfVisits)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.TotalWayTime)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.TotalVisitTime)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.AverageWayTimePerRoute)</div>
        <div class="item-group">@Html.DisplayNameFor(m => m.AverageDurationPerRoute)</div>

    </li>
    <li class="spacer"></li>
    @foreach (var routeCalculationVM in Model)
    {
    <li class="item-column">
        <div class="item-group-head">

            @*Berechnung #@routeCalculationVM.Id <small>@routeCalculationVM.ClusteringOptimizationFunction</small>*@

            <a href="@Url.Action("Result", new {id = routeCalculationVM.Id})" class="btn btn-dark btn-sm"><i class="fa fa-eye"></i> Details</a>
        </div>
        <div class="item-group @(routeCalculationVM.Cost == Model.Max(m => m.Cost) ? "best-val" : "")">@routeCalculationVM.Cost</div>
        <div class="item-group @(routeCalculationVM.NumberOfNotVisitedFamilies == Model.Min(m => m.NumberOfNotVisitedFamilies) ? "best-val" : "")">@routeCalculationVM.NumberOfNotVisitedFamilies</div>
        <div class="item-group @(routeCalculationVM.NumberOfNotVisitedFamilies == Model.Min(m => m.NumberOfMissingBreaks) ? "best-val" : "")">@routeCalculationVM.NumberOfMissingBreaks</div>
        <div class="item-group @(routeCalculationVM.NumberOfAdditionalSantas == Model.Min(m => m.NumberOfAdditionalSantas) ? "best-val" : "")">@routeCalculationVM.NumberOfAdditionalSantas</div>
        <div class="item-group @(routeCalculationVM.AdditionalSantaWorkTime == Model.Min(m => m.AdditionalSantaWorkTime) ? "best-val" : "")">@routeCalculationVM.AdditionalSantaWorkTime</div>
        <div class="item-group @(routeCalculationVM.VisitTimeInUnavailable == Model.Min(m => m.VisitTimeInUnavailable) ? "best-val" : "")">@routeCalculationVM.VisitTimeInUnavailable</div>
        <div class="item-group @(routeCalculationVM.VisitTimeInDesired == Model.Max(m => m.VisitTimeInDesired) ? "best-val" : "")">@routeCalculationVM.VisitTimeInDesired</div>
        <div class="item-group @(routeCalculationVM.SantaWorkTime == Model.Min(m => m.SantaWorkTime) ? "best-val" : "")">@routeCalculationVM.SantaWorkTime</div>
        <div class="item-group @(routeCalculationVM.LongestDay == Model.Min(m => m.LongestDay) ? "best-val" : "")">@routeCalculationVM.LongestDay</div>
        <div class="item-group @(routeCalculationVM.NumberOfNeededSantas == Model.Min(m => m.NumberOfNeededSantas) ? "best-val" : "")">@routeCalculationVM.NumberOfNeededSantas</div>
        <div class="item-group @(routeCalculationVM.NumberOfRoutes == Model.Min(m => m.NumberOfRoutes) ? "best-val" : "")">@routeCalculationVM.NumberOfRoutes</div>
        <div class="item-group @(routeCalculationVM.NumberOfVisits == Model.Max(m => m.NumberOfVisits) ? "best-val" : "")">@routeCalculationVM.NumberOfVisits</div>
        <div class="item-group @(routeCalculationVM.TotalWayTime == Model.Min(m => m.TotalWayTime) ? "best-val" : "")">@routeCalculationVM.TotalWayTime</div>
        <div class="item-group @(routeCalculationVM.TotalVisitTime == Model.Min(m => m.TotalVisitTime) ? "best-val" : "")">@routeCalculationVM.TotalVisitTime</div>
        <div class="item-group @(routeCalculationVM.AverageWayTimePerRoute == Model.Min(m => m.AverageWayTimePerRoute) ? "best-val" : "")">@routeCalculationVM.AverageWayTimePerRoute</div>
        <div class="item-group @(routeCalculationVM.AverageDurationPerRoute == Model.Min(m => m.AverageDurationPerRoute) ? "best-val" : "")">@routeCalculationVM.AverageDurationPerRoute</div>

        @*<div class="item-group-footer"><a href="@Url.Action("Result",new {id=routeCalculationVM.Id})" class="btn btn-dark btn-sm"><i class="fa fa-eye"></i> Details</a></div>*@
    </li>
    }
</ul>