@model IRuettae.WebApp.Models.UploadCSVVM
@{
    ViewBag.Title = "Index";
}

<h2>CSV Import</h2>
@using (Html.BeginForm("UploadCSV",
                        "CSVImport",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group row">
        <div class="col-md-10">
            @Html.LabelFor(m => m.CSVFile)
            &nbsp;
            @Html.TextBoxFor(m => m.CSVFile, new { type = "file", accept = ".csv" })
            @Html.ValidationMessageFor(m => m.CSVFile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-block btn-dark">Absenden</button>
    </div>
}
